@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --color-primary: 24 23 19;       /* Text */
   --color-contrast: 242 242 242;   /* Background */
   --color-accent: 190 41 70;       /* Action elements */     
}